.page1{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.page1::selection{
    background-color: black;
    color: royalblue;
}
.bluetext{
    color: white;
    font-weight: 600;
    border: 2px solid royalblue;
    border-radius: 100px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: royalblue;
}
.headingpage1{
    width: 80%;
    height: auto;
    line-height: 120px;
    padding-top: 130px;
    padding-bottom: 80px;
    /* background-color: blue; */
    font-size: 80px;
    font-weight: 600;
    text-align: center;
    /* background-color: aqua; */
}
.collegemarquee{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.collegeimage{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.college1{
    background: url('/college1.jpg');
    background-position: center;
    background-size: cover;
}
.college2{
    background: url('/college2.jpg');
    background-position: center;
    background-size: cover;
}
.college3{
    background: url('/college3.jpg');
    background-position: center;
    background-size: cover;
}
.college4{
    background: url('/college4.jpg');
    background-position: center;
    background-size: cover;
}
.college5{
    background: url('/college5.jpg');
    background-position: center;
    background-size: cover;
}
.college6{
    background: url('/college6.jpg');
    background-position: center;
    background-size: cover;
}
.searchdivpage1{
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Sendbutton*/
.group {
    display: flex;
    line-height: 36px;
    align-items: center;
    position: relative;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
  }
  
  .input {
    width: 100%;
    height: 60px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 3rem;
    border: 2px solid transparent;
    border-radius: 40px;
    outline: none;
    background-color: #e0e0e0;
    color: royalblue;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
    outline: none;
    border-color: royalblue;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 226 183 / 10%);
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: royalblue;
    font-weight: 600;
    width: 1.5rem;
    height: 1.5rem;
  }
  


@media (max-width:1000px) and (min-width:600px){
    .bluetext{
        color: white;
        font-weight: 600;
        border: 2px solid royalblue;
        border-radius: 100px;
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: royalblue;
    }
    .headingpage1{
        width: 80%;
        height: auto;
        padding-top: 130px;
        padding-bottom: 70px;
        line-height: 90px;
        /* background-color: blue; */
        font-size: 60px;
        font-weight: 500;
        text-align: center;
        /* background-color: aqua; */
    }
    .collegemarquee{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .collegeimage{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .group {
        display: flex;
        line-height: 36px;
        align-items: center;
        position: relative;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
      }
      
      .input {
        width: 100%;
        height: 60px;
        line-height: 28px;
        padding: 0 1rem;
        padding-left: 3rem;
        border: 2px solid transparent;
        border-radius: 40px;
        outline: none;
        background-color: #e0e0e0;
        color: royalblue;
        font-size: 18px;
        font-weight: 600;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .input::placeholder {
        color: #9e9ea7;
      }
      
      .input:focus,
      input:hover {
        outline: none;
        border-color: royalblue;
        background-color: #fff;
        box-shadow: 0 0 0 4px rgb(234 226 183 / 10%);
      }
      
      .icon {
        position: absolute;
        left: 1rem;
        fill: royalblue;
        font-weight: 600;
        width: 1.5rem;
        height: 1.5rem;
      }
      
}

@media (max-width:600px){
    .bluetext{
        color: white;
        font-weight: 600;
        border: 2px solid royalblue;
        border-radius: 100px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: royalblue;
    }
    .headingpage1{
        width: 90%;
        height: auto;
        padding-top: 130px;
        padding-bottom: 70px;
        line-height: 60px;
        /* background-color: blue; */
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        /* background-color: aqua; */
    }
    .collegemarquee{
        width: 100%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collegeimage{
        width: 200px;
        height: 200px;
        border-radius: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .group {
        display: flex;
        line-height: 36px;
        align-items: center;
        position: relative;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
      }
      
      .input {
        width: 100%;
        height: 60px;
        line-height: 28px;
        padding: 0 1rem;
        padding-left: 3rem;
        border: 2px solid transparent;
        border-radius: 40px;
        outline: none;
        background-color: #e0e0e0;
        color: royalblue;
        font-size: 18px;
        font-weight: 600;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .input::placeholder {
        color: #9e9ea7;
      }
      
      .input:focus,
      input:hover {
        outline: none;
        border-color: royalblue;
        background-color: #fff;
        box-shadow: 0 0 0 4px rgb(234 226 183 / 10%);
      }
      
      .icon {
        position: absolute;
        left: 1rem;
        fill: royalblue;
        font-weight: 600;
        width: 1.5rem;
        height: 1.5rem;
      }
      
}

/*Page2*/
.page2{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner1{
    width: 80%;
    height: 300px;
    border-radius: 30px;
    background: url('/gradient1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentdiv1{
    width: 30%;
    height: 100%;
    /* background-color: #9e9ea7; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.iconpage2image{
    width: 60px;
}
.headingpage2{
    font-size: 40px;
    color: white;
    font-weight: 600;
}
.subheadpage2{
    font-size: 25px;
    color: white;
    font-weight: 400;
}

@media (max-width:600px){
    .banner1{
        width: 90%;
        height: 200px;
        border-radius: 15px;
        background: url('/gradient1.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contentdiv1{
        width: 30%;
        height: 100%;
        /* background-color: #9e9ea7; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .iconpage2image{
        width: 30px;
    }
    .headingpage2{
        font-size: 20px;
        color: white;
        font-weight: 600;
    }
    .subheadpage2{
        font-size: 12px;
        color: white;
        font-weight: 400;
    }
}

.page3{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
}
.page3heading{
    width: 80%;
    margin-bottom: 40px;
    font-size: 35px;
    color: royalblue;
    font-weight: 600;
    text-align: center;
}
.contentpage3{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagecontentpage3{
    width: 40%;
    height: 100%;
    border-radius: 20px;
}
.textcontentpage3{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tagspage3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.circletag{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: royalblue;
    margin-right: 10px;
}
.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 15px;
    border: 2.5px solid royalblue;
    border-radius: 40px;
    margin: 10px;
    font-weight: 600;

}
.subtextpg3{
    width: 80%;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    color: grey;
}

@media (max-width:1000px) and (min-width:600px) {
    .page3{
        width: 100%;
        height: auto;
        padding-bottom: 40px;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f4f4f4;
    }
    .page3heading{
        width: 90%;
        margin-bottom: 20px;
        margin-top: 40px;
        font-size: 30px;
        color: royalblue;
        font-weight: 600;
        text-align: center;
    }
    .contentpage3{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .imagecontentpage3{
        width: 80%;
        height: 100%;
        border-radius: 10px;
    }
    .textcontentpage3{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .tagspage3{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .circletag{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: royalblue;
        margin-right: 8px;
    }
    .tag{
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        padding: 10px;
        border: 2.5px solid royalblue;
        border-radius: 40px;
        margin: 8px;
        font-weight: 600;
        font-size: 12px;
    
    }
    .subtextpg3{
        width: 80%;
        margin-top: 40px;
        font-size: 15px;
        font-weight: 500;
        color: grey;
    }
        
}

@media (max-width:600px) {
    .page3{
        width: 100%;
        height: auto;
        padding-bottom: 40px;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f4f4f4;
    }
    .page3heading{
        width: 90%;
        margin-bottom: 0px;
        margin-top: 40px;
        font-size: 25px;
        color: royalblue;
        font-weight: 600;
        text-align: center;
    }
    .contentpage3{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .imagecontentpage3{
        width: 90%;
        height: 100%;
        border-radius: 10px;
    }
    .textcontentpage3{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .tagspage3{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .circletag{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: royalblue;
        margin-right: 8px;
    }
    .tag{
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        padding: 8px;
        border: 2.5px solid royalblue;
        border-radius: 40px;
        margin: 6px;
        font-weight: 600;
        font-size: 10px;
    
    }
    .subtextpg3{
        width: 80%;
        margin-top: 40px;
        font-size: 15px;
        font-weight: 500;
        color: grey;
    }
    
}

.page4{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.page4heading{
    margin-top:20px;
    color: black;
    font-size: 40px;
    font-weight: 600;
}
.page4subheading{
    color: royalblue;
    font-size: 20px;
    font-weight: 600;
}
.countriespage4div {
    width:85%;
    height: 85vh;
    overflow-x: auto; /* Use 'auto' for scrollbars to appear only when necessary */
    overflow-y: hidden;
    margin-top: 60px;
    display: flex; /* Use flexbox to arrange child elements in a row */
}

.pg4countrydiv {
    width:50%; /* Ensure each child div is at least half the width of the viewport */
    height: 100%;
    border-radius: 40px;
    flex-shrink: 0; /* Prevent child elements from shrinking */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
}
.pg4countrydiv::after{
    content: '';
    top: 0;bottom: 0;right: 0;left: 0;
    position: absolute;
    border-radius: 40px;
    background: linear-gradient(to top , rgba(0, 0, 0, 0.744), transparent);
}

.canadacountrydiv {
    width: 50%;
    height: 100%;
    background: url('/canadacountry.jpg');
    background-position: center;
    background-size: cover;
}
.usacountrydiv{
    background: url('/usacountry.jpg');
    background-position: center;
    background-size: cover;
}
.ukcountrydiv{
    background: url('/ukcountry.jpg');
    background-position: center;
    background-size: cover;
}
.australiacountrydiv{
    background: url('/australiacountry.jpg');
    background-position: center;
    background-size: cover;
}
.germanycountrydiv{
    background: url('/germanycountry.jpg');
    background-position: center;
    background-size: cover;
}
.irelandcountrydiv{
    background: url('/irelandcountry.jpg');
    background-position: center;
    background-size: cover;
}
.topportion{
    width: 90%;
    height:10%;
    position: relative;
    z-index: 1;
}
.middleportion{
    width: 85%;
    height: 55%;
    padding: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.headingcard{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    font-weight: 600;
}
.middlecardcontent{
    width: 90%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}
.bottomportion{
    width: 90%;
    height: 15%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flagcard{
    width: 50px;
    height: 50px;
    border-radius: 500px;
    margin-right: 20px;
}
.canadaflagcard{
    background: url('/canadaflag.png');
    background-position: center;
    background-size: cover;
}
.usaflagcard{
    background: url('/usaflag.png');
    background-position: center;
    background-size: cover;
}
.ukflagcard{
    background: url('/ukflag.png');
    background-position: center;
    background-size: cover;
}
.australiaflagcard{
    background: url('/australiaflag.png');
    background-position: center;
    background-size: cover;
}
.germanyflagcard{
    background: url('/germanyflag.png');
    background-position: center;
    background-size: cover;
}
.irelandflagcard{
    background: url('/irelandflag.png');
    background-position: center;
    background-size: cover;
}
.viewdetailsbutton{
    width: 200px;
    height: 50px;
    border-radius: 40px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid transparent;
}
.viewdetailsbutton:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}


@media (max-width:1000px) and (min-width:600px) {
    .page4{
        width: 100%;
        height: auto;
        padding-bottom: 40px;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
    }
    .page4heading{
        margin-top: 40px;
        color: black;
        font-size: 40px;
        font-weight: 500;
    }
    .page4subheading{
        color: royalblue;
        font-size: 20px;
        font-weight: 500;
    }
    .countriespage4div {
        width:95%;
        height: 80vh;
        overflow-x: auto; /* Use 'auto' for scrollbars to appear only when necessary */
        overflow-y: hidden;
        margin-top: 80px;
        display: flex; /* Use flexbox to arrange child elements in a row */
    }
    
    .pg4countrydiv {
        width:60%; /* Ensure each child div is at least half the width of the viewport */
        height: 100%;
        border-radius: 40px;
        flex-shrink: 0; /* Prevent child elements from shrinking */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 20px;
        margin-left: 20px;
        position: relative;
    }
    .pg4countrydiv::after{
        content: '';
        top: 0;bottom: 0;right: 0;left: 0;
        position: absolute;
        border-radius: 40px;
        background: linear-gradient(to top , rgba(0, 0, 0, 0.744), transparent);
    }
    .topportion{
        width: 90%;
        height:10%;
        position: relative;
        z-index: 1;
    }
    .middleportion{
        width: 85%;
        height: 55%;
        padding: 2.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    .headingcard{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: white;
        font-weight: 600;
    }
    .middlecardcontent{
        width: 90%;
        color: white;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
        text-align: center;
    }
    .bottomportion{
        width: 90%;
        height: 15%;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flagcard{
        width: 50px;
        height: 50px;
        border-radius: 500px;
        margin-right: 20px;
    }
    .viewdetailsbutton{
        width: 200px;
        height: 50px;
        border-radius: 40px;
        background-color: white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        border: 2px solid transparent;
    }
    .viewdetailsbutton:hover{
        transition: 0.5s;
        cursor: pointer;
        background-color: transparent;
        color: white;
        border: 2px solid white;
    }
}

@media (max-width:600px) {
    .page4{
        width: 100%;
        height: auto;
        padding-bottom: 40px;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
    }
    .page4heading{
        margin-top: 40px;
        margin-bottom: 20px;
        color: black;
        font-size: 30px;
        width: 80%;
        text-align: center;
        font-weight: 600;
    }
    .page4subheading{
        width: 80%;
        text-align: center;
        color: royalblue;
        font-size: 18px;
        font-weight: 500;
    }
    .countriespage4div {
        width:95%;
        height: 60vh;
        overflow-x: auto; /* Use 'auto' for scrollbars to appear only when necessary */
        overflow-y: hidden;
        margin-top: 80px;
        display: flex; /* Use flexbox to arrange child elements in a row */
    }
    
    .pg4countrydiv {
        width:85%; /* Ensure each child div is at least half the width of the viewport */
        height: 100%;
        border-radius: 20px;
        flex-shrink: 0; /* Prevent child elements from shrinking */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;
        position: relative;
    }
    .pg4countrydiv::after{
        content: '';
        top: 0;bottom: 0;right: 0;left: 0;
        position: absolute;
        border-radius: 20px;
        background: linear-gradient(to top , rgba(0, 0, 0, 0.744), transparent);
    }
    .topportion{
        width: 90%;
        height:10%;
        position: relative;
        z-index: 1;
    }
    .middleportion{
        width: 88%;
        height: 58%;
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    .headingcard{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: white;
        font-weight: 600;
    }
    .middlecardcontent{
        width: 95%;
        color: white;
        font-size: 13px;
        font-weight: 500;
        margin-top: 20px;
        text-align: center;
    }
    .bottomportion{
        width: 90%;
        height: 15%;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flagcard{
        width: 50px;
        height: 50px;
        border-radius: 500px;
        margin-right: 20px;
    }
    .viewdetailsbutton{
        width: 200px;
        height: 50px;
        border-radius: 40px;
        background-color: white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        border: 2px solid transparent;
    }
    .viewdetailsbutton:hover{
        transition: 0.5s;
        cursor: pointer;
        background-color: transparent;
        color: white;
        border: 2px solid white;
    }
}


.page5{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.educationloanbannerdiv{
    width: 80%;
    height: 70vh;
    background-color: royalblue;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.educationloanimagediv{
    width: 40%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.educationloanimage{
    width: 100%;
}
.educationloancontentdiv{
    width: 60%;
    height: 90%;
    padding: 5%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.smallheadeducationcontent{
    font-size: 18px;
    color: rgb(176, 196, 255);
    font-weight: 600;
}
.educationloanheading{
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    color: white;
}
.contentlist{
    margin: 0;
    padding: 0;
    transform: translateX(-15px);
}
.educationlist{
    font-size: 16px;
    /* color: rgb(70, 70, 70); */
    color: rgb(213, 213, 255);
    font-weight: 500;
    line-height: 35px;
    list-style-type: disc;
    list-style: disc;
}
.talktoexpertbutton{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 40px;
    color: royalblue;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    background-color:white ;
}
.talktoexpertbutton:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
.loancontent{

}

@media (max-width:1000px) and (min-width:600px){
    .page5{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .educationloanbannerdiv{
        width: 85%;
        height: 75vh;
        background-color: royalblue;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .educationloanimagediv{
        width: 40%;
        height: 100%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    .educationloanimage{
        width: 150%;
    }
    .educationloancontentdiv{
        width: 60%;
        height: 90%;
        padding: 5%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
    .smallheadeducationcontent{
        font-size: 14px;
        color: rgb(176, 196, 255);
        font-weight: 600;
    }
    .educationloanheading{
        width: 100%;
        font-size: 30px;
        font-weight: 600;
        color: white;
    }
    .contentlist{
        margin: 0;
        padding: 0;
        transform: translateX(-15px);
    }
    .educationlist{
        font-size: 12px;
        /* color: rgb(70, 70, 70); */
        color: rgb(213, 213, 255);
        font-weight: 500;
        line-height: 25px;
        list-style-type: disc;
        list-style: disc;
    }
    .talktoexpertbutton{
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 40px;
        color: royalblue;
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
        background-color:white ;
    }
    .talktoexpertbutton:hover{
        background-color: black;
        color: white;
        transition: 0.4s;
        cursor: pointer;
    }
}

@media (max-width:600px) {
    .page5{
        width: 100%;
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .educationloanbannerdiv{
        width: 100%;
        height: 100vh;
        background-color: royalblue;
        border-radius: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .educationloanimagediv{
        width: 100%;
        height: 40%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    .educationloanimage{
        width: 75%;
        /* height: 100%; */
    }
    .educationloancontentdiv{
        width: 90%;
        height: 55%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 5%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .smallheadeducationcontent{
        font-size: 14px;
        color: rgb(176, 196, 255);
        font-weight: 600;
    }
    .educationloanheading{
        width: 90%;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: white;
    }
    .contentlist{
        margin: 0;
        padding: 0;
        transform: translateX(0px);
        padding-right: 15px;

    }
    .educationlist{
        font-size: 12px;
        /* color: rgb(70, 70, 70); */
        color: rgb(213, 213, 255);
        font-weight: 500;
        line-height: 20px;
        list-style-type: disc;
        list-style: disc;
    }
    .talktoexpertbutton{
        padding-right: 12px;
        padding-left: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 40px;
        color: royalblue;
        font-size: 12px;
        font-weight: 600;
        margin-top: 20px;
        background-color:white ;
    }
    .talktoexpertbutton:hover{
        background-color: black;
        color: white;
        transition: 0.4s;
        cursor: pointer;
    }    
}

.page6{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page6heading{
    font-size: 45px;
    color: royalblue;
    font-weight: 600;
}
.subheadpage6{
    font-size: 18px;
    color: royalblue;
    font-weight: 500;
}
.servicedivpage6{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.circleservicelogo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: royalblue;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicecard{
    width: max-content;
    padding: 15px;
    border: 3px solid black;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.servicetag{
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.logoservicepage{
    width: 60%;
}

@media (max-width:1000px) and (min-width:600px) {
    .page6{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .page6heading{
        font-size: 35px;
        color: royalblue;
        font-weight: 600;
    }
    .subheadpage6{
        font-size: 18px;
        color: royalblue;
        font-weight: 500;
    }
    .servicedivpage6{
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .circleservicelogo{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: royalblue;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .servicecard{
        width: max-content;
        padding: 15px;
        border: 3px solid black;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .servicetag{
        font-size: 15px;
        font-weight: 700;
        color: black;
    }
    .logoservicepage{
        width: 60%;
    }   
}

@media (max-width:600px) {
    .page6{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .page6heading{
        font-size: 25px;
        color: royalblue;
        font-weight: 600;
    }
    .subheadpage6{
        width: 80%;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        color: royalblue;
        font-weight: 500;
    }
    .servicedivpage6{
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .circleservicelogo{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: royalblue;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .servicecard{
        width: max-content;
        padding: 10px;
        border: 2px solid black;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .servicetag{
        font-size: 12px;
        font-weight: 600;
        color: black;
    }
    .logoservicepage{
        width: 60%;
    }
}

.page7{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testmarquee{
    padding-top: 20px;
    padding-bottom: 20px;
}
.testimonialslider{
    width: 100%;
    margin-top: 40px;
    height: auto;
    /* background-color: royalblue; */
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonialcard{
    width: 450px;
    height: 300px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 20px;
}
.toptestimonialcard{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottomtestimonialcard{
    width: 90%;
    height: 45%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    text-align: justify;
}
.studentimage{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.studentinfo{
    width: 65%;
    margin-left: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.studentimageimg{
    width: 90%;
    height: 100%;
    border-radius: 50%;
}
.studentname{
    font-size: 18px;
    font-weight: 600;
    color: royalblue;
}
.collegename{
    font-size: 13px;
    font-weight: 600;
}
.intakedate{
    font-size: 12px;
    font-weight: 500;
    color: grey;
}
.testmarq{
    height: auto;
}

@media (max-width:1000px) and (min-width:600px) {
    .page7{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color:rgb(247, 247, 247);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .pg7head{
        text-align: center;
        width: 90%;
    }
    .pg7subhead{
        width: 90%;
        text-align: center;
    }
    .testmarquee{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .testimonialslider{
        width: 100%;
        margin-top: 40px;
        height: auto;
        /* background-color: royalblue; */
        padding-top: 0px;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .testimonialcard{
        width: 450px;
        height: 300px;
        border-radius: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        margin: 20px;
    }
    .toptestimonialcard{
        width: 90%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bottomtestimonialcard{
        width: 90%;
        height: 45%;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        text-align: justify;
    }
    .studentimage{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .studentinfo{
        width: 65%;
        margin-left: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
    .studentimageimg{
        width: 90%;
        height: 100%;
        border-radius: 50%;
    }
    .studentname{
        font-size: 18px;
        font-weight: 600;
    }
    .collegename{
        font-size: 13px;
        font-weight: 600;
    }
    .intakedate{
        font-size: 12px;
        font-weight: 500;
    }
    .testmarq{
        height: auto;
    }
}

@media (max-width:600px){
    .page7{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: rgb(240, 240, 240);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .pg7head{
        text-align: center;
        width: 90%;
        font-size: 20px;
    }
    .pg7subhead{
        width: 90%;
        text-align: center;
        font-size: 12px;
    }
    .testmarq{
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .testimonialslider{
        width: 100%;
        margin-top: 40px;
        height: auto;
        /* background-color: royalblue; */
        padding-top: 0px;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .testimonialcard{
        width:250px;
        height: 200px;
        border-radius: 20px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        margin: 20px;
    }
    .toptestimonialcard{
        width: 95%;
        height: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bottomtestimonialcard{
        width: 90%;
        height: 50%;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        font-weight: 500;
        text-align: justify;
    }
    .studentimage{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .studentinfo{
        width: 65%;
        margin-left: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
    .studentimageimg{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .studentname{
        font-size: 14px;
        font-weight: 600;
    }
    .collegename{
        font-size: 10px;
        font-weight: 600;
    }
    .intakedate{
        margin-top: 8px;
        font-size: 9px;
        font-weight: 500;
    }
    .testmarq{
        height: auto;
    }
}

.page8{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.consultbanner{
    width: 90%;
    height: 80vh;
    border-radius: 40px;
    background-color: grey;
    background: url('/gradient2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.consultimage{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.consultform{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.consultformdiv{
    width: 90%;
    height: 90%;
    border-radius: 25px;
    /* background-color: rgba(0, 0, 0, 0.344); */
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.consultheading{
    text-align: center;
    width: 90%;
    height: 150px;
    font-size: 40px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputdiv{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inp{
    width: 60%;
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #f6f6f6;
    display: block;
    height: 32px;
    margin: 15px;
    :hover {
        border-color: #ccc;
    }
    :focus{
        border-color: #9147ff;
        background: #fff;
    }
    
}
.submitbutton{
    width: 180px;
    height: 45px;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.submitbutton:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.loancontent{
    color: rgb(220, 220, 220);
    font-size: 13px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 15px;
}


@media (max-width:1000px) and (min-width:600px) {
    .page8{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .consultbanner{
        width: 95%;
        height: 80vh;
        border-radius: 40px;
        background-color: grey;
        background: url('/gradient2.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .consultimage{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    .consultform{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .consultformdiv{
        width: 95%;
        height: 90%;
        border-radius: 25px;
        /* background-color: rgba(0, 0, 0, 0.344); */
        /* backdrop-filter: blur(10px); */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .consultheading{
        text-align: center;
        width: 95%;
        height: 150px;
        font-size: 30px;
        color: white;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inputdiv{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .inp{
        width: 80%;
        font-size: 14px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 6px;
        line-height: 1.5;
        padding: 5px 10px;
        transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
        border: 2px solid #dee1e2;
        color: rgb(14, 14, 16);
        background: #dee1e2;
        display: block;
        height: 32px;
        margin: 15px;
        :hover {
            border-color: #ccc;
        }
        :focus{
            border-color: #9147ff;
            background: #fff;
        }
        
    }
    .submitbutton{
        width: 180px;
        height: 45px;
        background-color: white;
        color: black;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .submitbutton:hover{
        background-color: black;
        color: white;
        transition: 0.5s;
        cursor: pointer;
    }
    
    
}

@media (max-width:600px){
    .page8{
        width: 100%;
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .consultbanner{
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        background-color: grey;
        background: url('/gradient2.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .consultimage{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    .consultform{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .consultformdiv{
        width: 90%;
        height: 100%;
        border-radius: 0px;
        /* background-color: rgba(0, 0, 0, 0.344); */
        backdrop-filter: blur(0px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateY(25px);
    }
    .consultheading{
        text-align: center;
        width: 95%;
        height: 150px;
        font-size: 25px;
        color: white;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inputdiv{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .inp{
        width: 100%;
        font-size: 12px;
        font-weight: 600;
        border-radius: 6px;
        line-height: 1.5;
        padding: 5px 10px;
        transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
        border: 2px solid #dee1e2;
        color: rgb(14, 14, 16);
        background: #dee1e2;
        display: block;
        height: 25px;
        margin: 8px;
        :hover {
            border-color: #ccc;
        }
        :focus{
            border-color: #9147ff;
            background: #fff;
        }
        
    }
    .submitbutton{
        width: 140px;
        height: 40px;
        background-color: white;
        color: black;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .submitbutton:hover{
        background-color: black;
        color: white;
        transition: 0.5s;
        cursor: pointer;
    }
    .expertimage{
        height: 45vh;
    }
    .loancontent{
        color: rgb(183, 183, 183);
        font-size: 10px;
        font-weight: 500;
        margin-left: 15px;
        margin-top: 20px;
    }
    
}



.page9{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.companyheadfooter{
    width: 80%;
    padding-top: 40px;
    padding-bottom: 0px;
    border-bottom:1px solid rgba(128, 128, 128, 0.342) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logofooter{
    height: 120px;
    transform: translateY(-20px);
    filter: invert(1);
}
.companydescfooter{
    width: 100%;
    height: 100px;
    /* border-bottom:1px solid rgba(128, 128, 128, 0.342) ; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(77, 77, 77);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    transform: translateY(-20px);
}
